<!doctype html>
<head>
<title>{% block title %}ManyEvents/{% block add_title %}{% endblock %}{% endblock %}</title>

<style type="text/css">
body {
    font-family: "Times New Roman", Times, serif;
}

.error {
    color: red;
}
</style>
</head>

<h1>ManyEvents</h1>

<a href="/signin">Signin/Signup</a>&nbsp;|&nbsp;
<a href="/docs">Docs</a>&nbsp;|&nbsp;
<a href="/dashboard">Dashboard</a>

<h2>{{ page }}</h2>
{% block body %}{% endblock %}

<p>We have cookies. It's also style for marketing from 2000 year (if you also tired from slow web pages) by <a href="https://aptakhin.name" target="_blank">Alexander Ptakhin</a></p>
</html>