<!doctype html>
<head>
<title>{% block title %}ManyEvents/{% block add_title %}{% endblock %}{% endblock %}</title>

<style type="text/css">
    body {
        font-family: "Times New Roman", Times, serif;
    }

    .error {
        color: red;
    }
</style>
</head>

<h1>ManyEvents</h1>

<a href="/signin">Signin/Signup</a>
<a href="/docs">Docs</a>

<h2>{{ page }}</h2>
{% block body %}{% endblock %}

<p>Style from 2000xx, Alexander Ptakhin</p>
</html>