{% set page="Dashboard" %}
{% extends "base" %}

{% block add_title %}{{page}}{% endblock %}

{% block body %}

  <h3>Push token</h3>
  <div  style="border: 1px solid; border-color: black;">
    <code><pre>{{ push_token_live }}</pre></code>
  </div>
{% endblock %}
