{% set page="Docs" %}
{% extends "base.html.j2" %}

{% block add_title %}{{page}}{% endblock %}

{% block body %}
  <p>
    Which docs?

    <a href="https://github.com/aptakhin/manyevents">The code is our docs!</a>
  </p>
{% endblock %}
