MANYEVENTS_SECRET_KEY=<Secret key>

CLICKHOUSE_DB=manyevents
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=username
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

POSTGRES_DB=manyevents
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432